.login-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000088;
  display: grid;
  /* width: max(23vw, 350px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 20px; */
  /* border-radius: 1rem; */
  box-shadow: 0 0 5px;
  animation: moveInUp 1s ease;
}

@keyframes moveInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-popup {
  display: flex;
  flex-direction: column;
  place-self: center;
  color: #808080;
  background-color: rgb(29, 28, 28);
  width: max(23vw, 330px);
  font-size: 14px;
  gap: 12px;
  border-radius: 8px;
  margin: 0 auto;
  padding: 25px 30px;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: white;
}
.login-popup-title img {
  cursor: pointer;
  width: 18px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 5px;
}

.login-popup button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #28942d;
  font-size: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.login-popup button:hover {
  background-color: #1a740c;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -8px;
}

.login-popup-condition input {
  margin-top: 2px;
}

.login-popup-condition p {
  color: #c9c9c9;
}

.login-popup p {
  color: rgb(235, 225, 225);
}

.login-popup p span {
  color: #e41919;
  font-weight: 700;
  margin-left: 5px;
  cursor: pointer;
}

.error {
  color: red;
}
