.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 18px;
}

.pagination span {
  padding: 10px 16px;
  border: 2px solid rgb(141, 135, 135);
  background-color: #bda28d;
  cursor: pointer;
}

.disabled_pagination {
  opacity: 0;
}

.active_page {
  background-color: rgb(185, 146, 90);
}
